name_prefix = "bob"  # CHANGE TO YOUR UNIQUE PREFIX (3-8 letters)

# ARM based GCP Instance
machine_type           = "c4a-standard-2"
enable_confidential_vm = false

# Intel TDX based GCP Instance
#machine_type           = "c3-standard-4"
#enable_confidential_vm = true